/* root values */
:root {
    --background-color: rgb(206, 239, 239);
    --header-color: rgba(248, 153, 169, 0.826);
    ---text-color: rgb(0, 128, 128);
}

/* root values end */

/* universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* universal styling end */

/* header style */

body {
    background-color: var(--background-color);
    color: var(---text-color);
}

.header {
    justify-content: center;
    padding: 45px;
    background-color: azure;
    display: flex;
    flex-direction: row;
}

.header h1 a {
    display: inline-flex;
    color: var(--header-color);
    font-size: 48px;
    text-decoration: none;
}

nav a {
    justify-content: flex-end;
    padding: 10px;
    flex-wrap: wrap;
    color: var(---text-color);
    font-size: 22px;
    text-decoration: none;
}

/* navbar end */


body p {
    justify-content: center;
    padding: 20px;
    font-size: 30px;
}

/* body style */
.container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    background-color: var(--secondary-color);
    margin-left: 90px;
    margin-right: 90px;
}


.container p {
    font-size: 40px;
    letter-spacing: 0.2em;
    margin: 0;
    text-shadow: 0 0 10px grey;
    font-weight: 700;
    color: azure;
    text-align: center;

}

.container p span {
    border: 10px solid rgba(181, 216, 216, 0.868);
    padding: 6px 14px;
    display:inline-block;
    justify-content: center;

}

.container-hero {
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(./images/crystals3.webp) no-repeat center;
    background-size: cover;
}


.container-2 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--secondary-color);
    margin-left: 50px;
    margin-right: 50px;
}


.container-2 p, a {
    color:rgba(248, 153, 169, 0.826);
    justify-content: center;

}

.container-2 h2 {
    padding: 20px;
}


.container-3 {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    background-color: var(--secondary-color);
    margin-left: 90px;
    margin-right: 90px;
}


.container-3 p, a {
    color:rgba(248, 153, 169, 0.826);
    justify-content: center;

}

.container-3 p {
    font-size: 40px;
    letter-spacing: 0.2em;
    margin: 0;
    text-shadow: 0 0 10px grey;
    font-weight: 700;
    color: azure;
    text-align: center;

}
.container-3 p span {
    border: 10px solid rgba(181, 216, 216, 0.868);
    padding: 6px 14px;
    display:inline-block;
    justify-content: center;

}

  .hidden {
    display: none;
  }

/* button style */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid azure;
    margin-bottom: 1rem;
    text-decoration: none;
    background-color: white;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(248, 153, 169, 0.826);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

/* footer style */
footer {
    background-color: azure;
    text-align: center;
    padding: 20px;
}

footer h3 {
    padding: 20px;
    color: var(--header-color);
    font-size: 20px;
}

footer a {
    text-decoration: none;
    color: var(---text-color);
    padding: 5px;
    font-size: 16px;
}

    footer p {
        color: var(---text-color);
        padding: 5px;
        font-size: 16px;

    }

    /*****Breakpoints*****/
@media only screen and (min-width: 992px) {
    main {
      width: 60%;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    main {
      width: 40%;
    }
  }

